$primary: #00BFFF;
$black: #151C36;
$white: #ffffff;
$serious-navy: #151C36;

$spacing-1: 89px;
$spacing-2: 55px;
$spacing-3: 34px;
$spacing-4: 21px;
$spacing-5: 13px;
$spacing-6: 8px;

$galaxy-fold: 280px;

// expansion panel
$expansion-panel-header-padding: 0;
$expansion-panel-header-font-size: 20px;
$expansion-panel-content-padding: 0 0 10px;